@font-face {
    font-family: googlefont;
    src: url(esDR31xSG-6AGleN6tKukbcHCpE.ttf);
}

body {
    background-color: #FFFFFF;
    margin: 17px;
    /* min-width: 50vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.google-container {
    background-color: #cad1cbc8;
    color: white;
    /* margin: 10%; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 50px;
    height: 90vh;
    overflow: hidden;
    transition: all 0.2s ease;
}
.google-container:hover{
    box-shadow: 3px 3px 20px black;
}

.main-box {

    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    overflow: hidden;

}

.firstbox {
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.secondbox>form {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.secondbox {
    /* background-color: orangered; */
    display: flex;
    width: 37%;
    margin: 0;
    padding: 0;

}



form>input {

    width: 90%;
    background-color: white;
    color: #202124;
    border-color: white;
    border-radius: 9px;
    font-size: 150%;
    font-family: googlefont;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: all 0.4s ease;
}

.search-input:hover {
    transform: scale(1.02);
    /* background-color: #303134; */
}

form>button {
    border-radius: 50%;
    border-color: #19347F;
    background-size: cover;
    background-image: url("search2.svg");
    height: 100px;
    width: 100px;
    background-color: #19347F;
    box-shadow: 5px 5px 20px #19347F;
    transition: all 0.09s ease-in;
    cursor: pointer;
}

.search-button:hover {
    transform: scale(1.05);
}

.search-button:active {

    transform: rotate(45deg);
    /* transform: scale(1.05); */
}

.google-logo {
    transition: all 0.2s ease;
}

.google-logo:hover {
    transform: scale(1.02);
}

@media (max-width:975px) {
    body {
        /* background-color: red; */
    }

    .main-box {
        display: flex;
        flex-direction: column;
        height: 60%;
    }

    .firstbox {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .secondbox {
        width: 100%;
    }

    .secondbox>form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .secondbox>form>input {
        width: 70%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .secondbox>form>.search-button {
        width: 60px;
        height: 60px;
    }

    .firstbox>a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .firstbox>a>img {
        height: 100%;
        width: 80%;
    }

}

@media (max-width:500px) {
    .secondbox>form>.search-button {
        width: 45px;
        height: 45px;
    }
}


.themebox {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.themebox > button{
    cursor: pointer;
}


.dark {
    background-color: #202124;
    color: #FFFFFF;
}

.dark .google-container {
    background-color: #5c5c5c;
    color: white;
}

.dark .google-container:hover{
    box-shadow: 3px 3px 20px rgb(101, 101, 101);
}
.dark form input{
    background-color: #202124;
    color: white;
}
/* Add more styles for dark theme as needed */
